from humaniq.settings.base import *
import raven

{% if project_dir != "" %}
VAR_ROOT = "{{ project_dir }}"
{% endif %}

{% if project_static_media_dir != "" %}
STATIC_ROOT = os.path.join("{{ project_static_media_dir }}", "static")
MEDIA_ROOT = os.path.join("{{ project_static_media_dir }}", "media")
{% endif %}

DEBUG = False
SECRET_KEY = 'demo'

ALLOWED_HOSTS = [
    "{{ allowed_host }}"
]

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

STATIC_URL = '{{ nginx_scheme }}://{{ nginx_server_name }}/static/'
MEDIA_URL = '{{ nginx_scheme }}://{{ nginx_server_name }}/media/'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(VAR_ROOT, 'db.sqlite3'),
    }
}

LOCALE_PATHS = (
    os.path.join(VAR_ROOT, 'locale'),
)

LUNA_VISION_LABS_MASTER_MODE = False
LUNA_VISION_LABS_API_SERVER = "{{ luna_vision_labs_server }}"

LUNA_VISION_LABS_USER = "{{ luna_vision_labs_user }}"
LUNA_VISION_LABS_PASSWD = "{{ luna_vision_labs_passwd }}"
LUNA_VISION_LABS_VERSION = 5
LUNA_VISION_LABS_FACES_LIST = "{{ luna_vision_faces_list }}"

RAVEN_CONFIG = {
    "dsn": "{{ sentry_raven_dsn }}",
    "release": raven.fetch_git_sha(ROOT_DIR),
}
